<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <link rel="stylesheet" type="text/css" href="{% static 'my_app/style.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <style>
        #intermid{
            padding-top: 18px;
            width: 100%;
            height: 350px;
            text-align: center;
            background-image: url("{% static 'my_app/rando13.png' %}");
        }
        #left-trend{
            display: inline-block;
            width: 300px;;
            height: 200px;
            margin: 2% 2%;
            text-align: center;
            background-image: url("{% static 'my_app/trend1.jpg' %}");
            
        }
        #mid-trend{
            display: inline-block;
            width: 300px;
            height: 200px;
            margin: 2% 2%;
            text-align: center;
            background-image: url("{% static 'my_app/trend3.jpg' %}");
        }
        #right-trend{
            display: inline-block;
            width: 300px;
            height: 200px;
            margin: 2% 2%;
            text-align: center;
            background-image: url("{% static 'my_app/trend4.jpg' %}");
        }
        .card{
            position: fixed;
            min-width: 80%;
        }
    </style>
    <title>Scriberr</title>
</head>
<body>
    <div id="wrapper">
        <div id="topper">
            <div id="navi">
                <!--Navbar-->
                <nav class="navbar navbar-light navbar-1 white">
            
                    <!-- Collapse button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
                    aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                    <!-- Navbar brand -->
                
                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent15">
                
                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/founders">Founders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/staff">Staff</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/podcast">PodCasts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/subscribe">Subscribe</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/merch">Merch</a>
                        </li> -->
                        
                       
                    </ul>
                    <!-- Links -->
                
                    </div>
                    <!-- Collapsible content -->                
                </nav>
                <!--/.Navbar-->
            </div>
    
            <div id="banner">
                <img id="logoImage" src="{% static 'my_app/A5.png' %}" alt="logo" width="60%" height="100" >            
            </div>
            
            <div id="sub-box">
                <img class="somed" src="{% static 'my_app/twittericon.png' %}" alt="logo"> <img class="somed" src="{% static 'my_app/facebookicon.png' %}" alt="logo"> <img class="somed" src="{% static 'my_app/instagramicon.png' %}" alt="logo"> <a id="logs" href="#">Login</a>
                <div id="hot-topic">
                    
                </div>
            </div>
            
        </div>
        <div id="pre-main">
            <div id="top-bopper">
                <a class="topics" href="#">Politics & Culture</a> <a class="topics" href="#">Lifestyle & Wellness</a><a class="topics" href="#">Gaming & Tech</a><a class="topics" href="#">Faith</a><a class="topics" href="#">Reviews</a> <a class="topics" href="#">News Plus</a><button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseTrending" aria-expanded="false" aria-controls="collapseExample">
                        Trending
                      </button>
                <div class="collapse" id="collapseTrending">
                    <div class="card card-body">
                      <div id="trendbanner">
                        <h3>Trending</h3>
                      </div>
                      <div id="trendmain">
                        <div id="left-trend"><div class="black-box">1</div><p class="trendy-text">Is music the universal language?</p></div>
                        <div id="mid-trend"><div class="black-box">2</div><p class="trendy-text">How to improve your focus</p></div>
                        <div id="right-trend"><div class="black-box">3</div><p class="trendy-text">How morning routines help us</p></div>
                      </div>
                    </div>
              </div>
            </div>
        </div>

        <div id="main">
                       


            <div id="date-box">
                <div id="dater">
                    <div class="dateline">
                        
                    </div>

                    <div id="datem">
                        <h5> {{date}} </h5>
                    </div>

                    <div class="dateline">

                    </div>
                </div>
            </div>
            <div id="paper">
                <div class="building" id="lefter">
                    <img id="limage" src="{% static 'my_app/rando11.png' %}" alt="logo">
                    <br>
                    <img class="articon" src="{% static 'my_app/faith.png' %}"><p>WELLNESSS</p>
                    <h4 class="outerhead">State of Mind: How Meditation Helps Reduce Stress</h4>
                    <hr>
                    <img class="articon" src="{% static 'my_app/review.png' %}"><p>REVIEW</p>
                    <p>Apple AirPods: Worth the cost. No strings attached</p>
                    <hr>

                </div>
                <div class="building" id="spotlight">
                    <div id="intermid">
                        <!-- <h3>SPOTLIGHT</h3> -->
                        <!-- <img id="mimage" src="{% static 'my_app/rando12.jpg' %}" alt="logo"> -->

                        <div>
                            <h4 id="midhead">Divine Intervention: How Faith Helps Child Development</h4>
                            <!-- <p id="midbod">Studies show how a life with purpose can affect your success and life expectancy</p> -->
                        </div>
                    </div>
                    <hr>

                </div>
                <div class="building" id="righter">
                    <img id="limage" src="{% static 'my_app/rando10.png' %}" alt="logo">
                    <br>
                    <img class="articon" src="{% static 'my_app/lifestyle.png' %}"><p>LIFESTYLE</p>
                    <h3 class="outerhead">Top 5 Apps to Help You With Time Management</h3>
                    <hr>
                    <img class="articon" src="{% static 'my_app/videogame.png' %}"><p>GAME & TECH</p>
                    <p>A new contender to Fortnite? EA releases new battle royale "Apex Legends"</p>
                    <hr>
                </div>
            </div>

        </div>
        <div id="copyright">CopyRights TM*
            <div>
            <a href="https://icons8.com/icon/6792/spotlight">Spotlight icon by Icons8</a>
            <br>
            <a href="https://pngtree.com/free-icon">free icons</a> from pngtree.com
        </div>
        </div>       
        
       

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>   
</body>
</html>

<!-- <div id="trending">
        <div class="skyscraper" id="left-build">
            <img id="big-pic" src="{% static 'my_app/biggie1.jpg' %}" alt="story-image">
            <h4 class="space-needle">TITLE LEFT</h4>
            <p class="scribe"><img class="quill" src="{% static 'my_app/feather-filled-shape.png' %}" alt="logo">Kalen D'Almeida</p>
            <p class="main-story">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p><a>Read more...</a></p>
        </div>

        <div class="skyscraper"  id="right-build">

            <div class="ice-cap" id="north-pole">
                <img class="story-image" src="{% static 'my_app/rando4.jpg' %}" alt="story-image">
                <h4 class="space-needle">TITLE RIGHT</h4>
                <p class="scribe"><img class="quill" src="{% static 'my_app/feather-filled-shape.png' %}" alt="logo">Jamie Joseph</p>
                <p class="main-story">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p><a>Read more...</a></p>
            </div>

            <div class="ice-cap" id="south-pole">
                <img class="story-image" src="{% static 'my_app/rando2.jpg' %}" alt="story-image">
                <h4 class="space-needle">TITLE NORTH</h4>
                <p class="scribe"><img class="quill" src="{% static 'my_app/feather-filled-shape.png' %}" alt="logo">Nick Black</p>
                <p class="main-story">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcolaboris nisi ut aliquip ex ea commodo consequat.</p><p><a>Read more...</a></p>
                </div>
    
        </div>
    </div> -->
