<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <link rel="stylesheet" type="text/css" href="{% static 'my_app/style.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <title>Welcome to Scriberr</title>
</head>
<body>
    <div id="wrapper">
        <div id="topper">
            <div id="navi">
                <!--Navbar-->
                <nav class="navbar navbar-light navbar-1 white">
            
                    <!-- Collapse button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
                    aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                    <!-- Navbar brand -->
                    <!-- <a class="navbar-brand" href="#">Scriberr</a>  -->
                
                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent15">
                
                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/merch">Merch</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/bios">Bios</a>
                        </li>
                    </ul>
                    <!-- Links -->
                
                    </div>
                    <!-- Collapsible content -->                
                </nav>
                <!--/.Navbar-->
            </div>
    
            <div id="banner">
                <img id="logoImage" src="{% static 'my_app/A3.png' %}" alt="logo" width="60%" height="100" >            
            </div>
            
            <div id="sub-box">
                <p id="top-corner">Become a <b>Subscriberr!</b>
                <br>
                <a id="logs" href="#">Login</a>
                </p>
            </div>           
        </div>
        

       <div id="main">
            <div id="date-box">
                <div id="dater">
                    <h3><u>-- {{date}} --</u> </h3>
                </div>
            </div>
            <h2 id="main-head">PodCasts</h2>
           
       </div>
       <div>CopyRights TM*
           <br>
           <div>Icons made by <a href="http://conceptdezain.com/" title="Franco Averta">Franco Averta</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
       </div>
        
       

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>   
</body>
</html>