<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <link rel="stylesheet" type="text/css" href="{% static 'my_app/style.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <style>
        #intermid{
            padding-top: 18px;
            width: 100%;
            height: 350px;
            text-align: center;
            background-image: url("{% static 'my_app/rando13.png' %}");
        }
    </style>
    <title>Scriberr</title>
</head>
<body>
    <div id="wrapper">
        <div id="topper">
            <div id="navi">
                <!--Navbar-->
                <nav class="navbar navbar-light navbar-1 white">
            
                    <!-- Collapse button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
                    aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                    <!-- Navbar brand -->
                    <!-- <a class="navbar-brand" href="#">Scriberr</a>  -->
                
                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent15">
                
                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/founders">Founders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/staff">Staff</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/podcast">PodCasts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/subscribe">Subscribe</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/merch">Merch</a>
                        </li> -->
                        
                       
                    </ul>
                    <!-- Links -->
                
                    </div>
                    <!-- Collapsible content -->                
                </nav>
                <!--/.Navbar-->
            </div>
    
            <div id="banner">
                <img id="logoImage" src="{% static 'my_app/A5.png' %}" alt="logo" width="60%" height="100" >            
            </div>
            
            <div id="sub-box">
                <img class="somed" src="{% static 'my_app/twittericon.png' %}" alt="logo"> <img class="somed" src="{% static 'my_app/facebookicon.png' %}" alt="logo"> <img class="somed" src="{% static 'my_app/instagramicon.png' %}" alt="logo"> <a id="logs" href="#">Login</a>
                <div id="hot-topic">
                    
                </div>
            </div>
            <div id="top-bopper">
                <a class="topics" href="#">Politics & Culture</a> <a class="topics" href="#">Lifestyle & Wellness</a><a class="topics" href="#">Gaming & Tech</a><a class="topics" href="#">Faith</a><a class="topics" href="#">Reviews</a> <a class="topics" href="#">News Plus</a>
            </div>           
        </div>
        

        <div id="main">
            <div id="date-box">
                <div id="dater">
                    <div class="dateline">
                        
                    </div>

                    <div id="datem">
                        <h5> {{date}} </h5>
                    </div>

                    <div class="dateline">

                    </div>
                </div>
            </div>
            <div id="singart">
                <div id="arthead">
                    <h1 id="arttop">Why we should take the road less traveled</h1>
                    <h4 id="artbop">Dont let the fear of the unkown deter you from your goals</h4>
                    
                    <div id="popbop">
                        <img id="artpic" src="{% static 'my_app/jamie1.png' %}" alt="logo">
                        <div id="popdropper">
                            Jamie Joseph
                            <br>
                            <p id="bloop">Feb 13th</p>
                        </div>
                        <div id="buttpop">
                            <button class="btn btn-outline-info">Follow</button>    
                        </div>


                    </div>
                    <img id="mainpic" src="{% static 'my_app/road.jpg' %}" alt="logo">
                    <p id="mainart">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>

        </div>
        <div id="copyright">CopyRights TM*
            <div>
            <a href="https://icons8.com/icon/6792/spotlight">Spotlight icon by Icons8</a>
            <br>
            <a href="https://pngtree.com/free-icon">free icons</a> from pngtree.com
        </div>
        </div>       
        
       

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>   
</body>
</html>

<!-- <div id="trending">
        <div class="skyscraper" id="left-build">
            <img id="big-pic" src="{% static 'my_app/biggie1.jpg' %}" alt="story-image">
            <h4 class="space-needle">TITLE LEFT</h4>
            <p class="scribe"><img class="quill" src="{% static 'my_app/feather-filled-shape.png' %}" alt="logo">Kalen D'Almeida</p>
            <p class="main-story">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p><a>Read more...</a></p>
        </div>

        <div class="skyscraper"  id="right-build">

            <div class="ice-cap" id="north-pole">
                <img class="story-image" src="{% static 'my_app/rando4.jpg' %}" alt="story-image">
                <h4 class="space-needle">TITLE RIGHT</h4>
                <p class="scribe"><img class="quill" src="{% static 'my_app/feather-filled-shape.png' %}" alt="logo">Jamie Joseph</p>
                <p class="main-story">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p><a>Read more...</a></p>
            </div>

            <div class="ice-cap" id="south-pole">
                <img class="story-image" src="{% static 'my_app/rando2.jpg' %}" alt="story-image">
                <h4 class="space-needle">TITLE NORTH</h4>
                <p class="scribe"><img class="quill" src="{% static 'my_app/feather-filled-shape.png' %}" alt="logo">Nick Black</p>
                <p class="main-story">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcolaboris nisi ut aliquip ex ea commodo consequat.</p><p><a>Read more...</a></p>
                </div>
    
        </div>
    </div> -->
