/*CSS reset settings here*/
/* * { outline: 1px dotted red; } */
*{
    margin: 0px;
    padding: 0px;
   }
a {
    color: inherit;
}

#topper{
    display: inline-block;
    position: fixed;
    background-color: white;
    width: 100%;
    
}
.navbar{
    max-width: 15%;
    display: inline-block;
}

#navi{
    display: inline-block;
}
#banner{
    
    border-radius: 30px;
    /* padding: 0px 0px 20px 15%;  */
    max-width: 32%;
    /* height: 100%;  */
    /* text-align: center; */
    display: inline-block;   
}

#logoImage{
    /* border-bottom: 1px solid black; */
    /* min-width: 110%; */
    height: 120px;
    /* text-align: left; */
    
}
#sub-box{
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border: 3px solid; */
    /* padding: 6px; */
    /* border-radius: 30px;
    border-color: #004c4c;
    border-style: double; */
    width: 55%;
    height: 100%;
    max-height: 65px;
}

#subscribe{
    color: black;
    text-shadow: 0px 0px;
}
#navi{
    max-width: 90%;
}
#logs{
    color: black;
}

#top-corner{
    margin-right: 8%;
}


.quill{
    margin-top: 5px;
    height: 35px;
    width: 35px;
}
.topics{
    /* font-weight: bolder; */
    margin-right: 6%;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.somed{
    margin-right: 3%;
}
#top-bopper{
    text-align: center;
    /* position: relative; */
}

 /* ~~ DATE ~~ */

#date-box{
    text-align: center;
    margin: 15px 0px 30px 0px;
}
#dater{
    font-family: 'Times New Roman', Times, serif;   
}
.dateline{
    display: inline-block;
    border-bottom: solid gray 1px;
    min-width: 40%;
    margin-bottom: 5px;
}
#datem{
    display: inline-block;
    margin-top: 5px;
    padding: 0px 2%;
}

/* ~~MAIN-CONTENT~~ */

#main{
    /* text-align: center; */
    max-width: 80%;
    margin-left: 10%;
    padding-top: 140px;
    font-family: 'Times New Roman', Times, serif;
}

#main-head{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
.building{
    display: inline-block;
}
#lefter{
    width: 29%;
    text-align: center;
    padding-right: 2%;
    vertical-align: top;
}
#spotlight{
    color: cornsilk;
    text-align: center;
    width: 40%;
    min-height: 150%;
    padding: 0px 2%;
    border-left: solid gray 1px;
    border-right: solid gray 1px;
}
#centerstage{
    display: inline-block;
    width: 60%;
}
#stageback{
    display: block;
    text-align: center;
}
#righter{
    width: 29%;
    text-align: center;
    padding-left: 2%;
    vertical-align: top;
}
#limage{
    /* width: 100%; */
    /* height: 100%; */
    padding-bottom: 2%;
}
#mimage{
    width: 100%;
    height: 100%;
    padding-bottom: 1%;
}
#midhead{
    text-align: center;
    margin: auto;
    width: 65%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    padding-bottom: 2%;
}
#midbod{
    width: 100%;
}
.outerhead{
    padding-bottom: 2%;
}


/* ~~TRENDING BAR~~ */



.articon{
    width: 8%;
}
#paperbanner{
    display: inline-block;
    width: 60%;
    padding: 25px;
}
#paperdownbanner{
    display: inline-block;
    width: 28%;
    padding: 15px;

}
#trender{
    display: inline-block;
    width: 33%;
    vertical-align: top;
    padding: 0 15px;
}
.trendz{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 5% 0;
}
.trendypic{
    vertical-align: top;
    width: 45%;
}
.artbox{
    margin-left: 4%;
    display: inline-block;
    width: 50%;
}
.trendsetter{
    color: gray;
    font-size: 80%;
    margin-top: 2%;
}


/* ~~COPYRIGHT~~ */

#copyright{
    margin-top: 5%;
    font-size: 60%;
}

/* ~~ VIEW PAGE AKA SINGLE ARTICLE ~~ */

#arthead{
    text-align: center;
    margin: auto;
    width: 60%;

}
#arttop{
    margin-bottom: 15px;
}
#artbop{
    color: gray;
}
/* #popbop{
    text-align: left;
} */
#artpic{
    vertical-align: top;
    display: inline-block;
    text-align: left;
    border: 3px solid teal;
    /* border-style: double; */
    border-radius: 100px;
    width: 65px;
}
#popdropper{
    padding: 6px;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: left;
}
#popbop{
    /* text-align: left; */
    padding: 2% 5px;
}
#bloop{
    color: gray;
    font-size: 80%;
}
#mainpic{
    width: 100%;
}
#mainart{
    font-size: 20px;
    padding-top: 6%;
}
#buttpop{
    padding-top: 5px;
    display: inline-block;
    vertical-align: top;
}






















/* .skyscraper{
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

#left-build{
    display: inline-block;
    max-width: 60%;
    height: 100%;
    padding: 25px 10px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 15px;
}
#right-build{
    display: inline-block;
    margin-left: 8%;
    max-width: 30%;
    
}

.ice-cap{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 15px;
    padding: 25px 25px;
    margin-bottom: 10px;
    max-height: 48%;
}

#big-pic{
    width: 100%;
    border-radius: 20px 0px 20px 0px;
}

.story-image{
    max-width: 100%;
    border-radius: 20px 0px 20px 0px;
}

.scribe{
    font-weight: bolder;
}

.quill{
    height: 35px;
    width: 35px;
}

.space-needle{
    padding: 5px;
}
#trending{
    margin-top: 8%;

} */












   /* @media only screen and (max-width: 480px){
        
        .wrap{
            width:100%;
            background-color: silver;
            margin: 0px auto;
            padding:10px;
            padding-bottom:25px;
        }
        .head{
            min-height: 150px;
            width: 95%;
            background-color: green;
            margin:20px;
           }
           .main{
            min-height: 400px;
            width: 97%;
            background-color: red;
            display:inline-block;
            vertical-align: top;
            padding:10,10,10,25px;
           }
           .subcontents{
            min-height: 200px;
            width: 90%;
            background-color: yellow;
            display: inline-block;
            margin-left: 15px;
            margin-top: 20px;
           }
    }
    @media only screen and (min-width: 481px){
        #wrapper{
            width:100%;
            background-color: silver;
            margin: 0px auto;
            padding:10px;
            padding-bottom:25px;
           }
           .head{
            min-height: 150px;
            background-color: green;
            margin:20px;
            width: 95%;
           }
           .main{
            min-height: 400px;
            width: 97%;
            background-color: red;
            display:inline-block;
            vertical-align: top;
            padding:10,10,10,25px;
           }
           .subcontents{
            min-height: 200px;
            width: 45%;
            background-color: yellow;
            display: inline-block;
            margin-left: 15px;
            margin-top: 20px;
           }
    }
    @media only screen and (min-width: 1024px){
        #wrapper{
            width:100%;
            background-color: silver;
            margin: 0px auto;
            padding:10px;
            padding-bottom:25px;
           }
           .head{
            min-height: 150px;
            background-color: green;
            margin:20px;
            width: 95%;
           }
           #navigation{
            min-height: 300px;
            width: 20%;
            background-color: blue;
            margin-left:15px;
            margin-right:1%;
            display:inline-block;
           }
           .main{
            min-height: 400px;
            width: 73%;
            background-color: red;
            display:inline-block;
            vertical-align: top;
            padding:10,10,10,25px;
           }
           .subcontents{
            min-height: 200px;
            width: 29%;
            background-color: yellow;
            display: inline-block;
            margin-left: 3%;
            margin-top: 20px;
           }
    } */